["ALLY"]
ProgramBegin = 0x8400
ProgramEnd = 0xA400
DataBegin = 0x1000
DataEnd = 0x7FFF

["ALLEX"]
ProgramBegin = 0x8400
ProgramEnd = 0xA400
DataBegin = 0x1000
DataEnd = 0x7FFF

["ANNEX"]
ProgramBegin = 0x8400
ProgramEnd = 0xA400
DataBegin = 0x1000
DataEnd = 0x7FFF

["PP3"]
ProgramBegin = 0x8400
ProgramEnd = 0xA400
DataBegin = 0x1000
DataEnd = 0x7FFF

["PP6"]
ProgramBegin = 0x8400
ProgramEnd = 0xA400
DataBegin = 0x1000
DataEnd = 0x7FFF

["PP8"]
ProgramBegin = 0x8400
ProgramEnd = 0xA400
DataBegin = 0x1000
DataEnd = 0x7FFF

["ROUTPRO"]
ProgramBegin = 0x8400
ProgramEnd = 0xA400
DataBegin = 0x1000
DataEnd = 0x7FFF

["T3"]
ProgramBegin = 0x8400
ProgramEnd = 0xA400
DataBegin = 0x1000
DataEnd = 0x7FFF

["T3L"]
ProgramBegin = 0x8400
ProgramEnd = 0xA400
DataBegin = 0x1000
DataEnd = 0x7FFF

["M"]
ProgramEnd = 0xFFFF

["N"]
DataBegin = 0x1000
DataEnd = 0x7FFF

["V"]
DataEnd = 0x1FFF

["G"]

["R"]

["F"]
ProgramBegin = 0x4000
ProgramEnd = 0xdFFF
DataBegin = 0x0400
DataEnd = 0x0500

["L"]
DataBegin = 0x0400
DataEnd = 0x0500

["FA4"]
ProgramBegin = 0x4000
ProgramEnd = 0xdFFF
DataBegin = 0x0400
DataEnd = 0x0500

["FA2"]
ProgramBegin = 0x4000
ProgramEnd = 0xdFFF
DataBegin = 0x0400
DataEnd = 0x0500

["X"]
DataBegin = 0x1000
DataEnd = 0x7FFF
