# kdevelop
.kde*
*.kdev4
# objects
*.o
# stupids
*.stp
# Qt temp
.qmake.stash
ui_*.h
moc_*.cpp
qrc_*.cpp
# temps
stupid/bin/pesim
stupid/bin/stupid
stupid/posix/Simple
stupid/Makefile
stupid/src/Makefile
stupid/src/pesim/Makefile
stupid/src/pesim/app/Makefile
stupid/posix/lib/libasmapi.a
stupid/posix/lib/libpesim.a
stupid/posix/lib/libstpapi.a
stupid/src/moc/
stupid/src/pesim/moc/

